<html lang="en">

<head>
  {%load static%}

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static '/blog/bootstrap.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create'%}">Features</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for blog in blogs %}
          <div class="col">
            <div class="card shadow-sm">
              <h5>
                {{blog.title}}
              </h5>

              <div class="card-body">
                <p class="card-text"> {{blog.descreption}}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <!-- <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div> -->
                  <small class="text-muted">{{blog.created_on}}</small>
                  <small class="text-muted">{{blog.author.username}}</small>

                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script src="{% static '/blog/bootstrap.js' %}"></script>
  <script src="{% static '/blog/bootstrap.bundle.js' %}"></script>
  <script src="{% static '/blog/bootstrap.ems.build.js' %}"></script>

</body>

</html>